<div class="page-header">
  <h2>О компании:</h2>
</div>

<p>Электронная площадка «ТехноХантер» является виртуальным дилером по реализации изъятых предметов залога, принадлежащих Лизинговым компаниям и Банкам. 
Наша цель предложить покупателям простой доступ к легковому и грузовому транспорту, а также спецтехнике и оборудованию по лучшей цене.
<br><br> Мы сотрудничаем исключительно с Лизинговыми компаниями и Банками для реализации их изъятого имущество в кратчайшие сроки.
</p>