<div class="page-header">
  <h2>Лизинговым компаниям и банкам:</h2>
</div>

<p>
Электронная площадка «ТехноХантер» успешно сотрудничает с Лизинговыми компаниями и Банками в части реализации их предметов залога. Наш портал ежедневно посещают сотни целевых пользователей, которые заинтересованы в приобретении техники и оборудования. Если Вы хотите быстро реализовать свою технику и оборудование, мы готовы стать Вашим надежным партнером.<br><br>
Свяжитесь с нами для получения подробной информации:<br><br>
<span class="text-success">
partners@partners.ru<br>
+7 499 000 00 00
</span>
</p>