<h1>Домашняя страница</h1>
<p>Начальная страница, на которую попадают все пользователи</p>

<p><%= link_to 'Посмотреть доступные объявления', offers_path %></p>
<% if can? :show_moder_panel, @Home %>
	<h3>Вы являетесь модератором, Вам доступны следующие опции:</h3>
	<p><%= link_to 'Объявления на модерацию', moderate_index_path %></p>
<% end %>
