<div data-no-turbolink>
	<p><%= link_to 'Легковые автомобили', new_car_path %></p>
	<p><%= link_to 'Грузовые автомобили и спецтехника', new_truck_path %></p>
	<p><%= link_to 'Оборудование', new_equip_path %></p>
</div>